body {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A3D46;
    color: white;
}

.navbar img {
    width: 151px;
    height: 30px;
    margin-left: 180px;

}

.buttonsnavbar {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 30px;
    margin-right: 130px;
}

.btnbleu  {
background-color: #007DFC;
        width: Hug (141px)px;
        height: Hug (41px)px;
  color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        gap: 30px;
        border-radius: 5px;
    
    }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    gap: 20px;
    /* Gap between grid items */
    background-color: #232323;
}


/* Style for each grid item */
.item {
    display: inline;
    text-align: center;
    width: 590px;
    height: 590px;

}

/* Style for the image inside the grid item */
.item img {
    width: 590px;
    height: 590px;
    height: auto;
    display: block;
}


.item h1 {
    color: white;
    font-family: Raleway;
    font-size: 65px;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 0px;
}

.item h1 span {
    color: #FFB800;
}


.container .item:first-of-type div:nth-of-type(2) {
    color: #007DFC;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
}

.container .item:first-of-type div:nth-of-type(4) {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

.ligne {
    border: 1px solid #949494;
    align-items: left;
}

.button {
    background-color: #04AA6D;
    width: Hug (141px)px;
    height: Hug (41px)px;
    color: black;
    padding: 10px 27px 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    gap: 10px;
    border-radius: 45px;
    background: #FFB800;

}

.button:hover {
    background-color: #04AA6D;
    color: yellow;
}


.tout {
    width: 463px;
    height: 327px;
    top: 208px;
    left: 120px;
    gap: 0px;
    border-radius: 45px 0px 0px 0px;
    opacity: 0px;
    margin-left: 25%;
    margin-top: 10%;
}


.container2 {
    display: grid;
    grid-template-columns: 387px 386px 386px;
    grid-template-rows: 269px 269px;
    gap: 20px;
    row-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "pic pic-2 pic-3"
        "pic pic-4 pic-5";
    background-color: white;
    width: 1200px;  
    height: 830px;
    margin-left: 10%;
}

.text3{
    margin-left: 10%;
    position: relative;
    margin-bottom: 60px;
}

  .text3::before {
    content: '';
    position: absolute;
    bottom: -5px; left:50px;
    width: 80px;
    height: 2px;
    background-color: green;
  
  }


.pic {
    grid-area: pic;
    width: 387px;
    height: 559px;
}

.pic-2 {
    grid-area: pic-2;
    width: 386px;
    height: 269px;
}

.pic-3 {
    grid-area: pic-3;
    width: 386px;
    height: 269px;
}

.pic-4 {
    grid-area: pic-4;
    width: 386px;
    height: 269px;
}

.pic-5 {
    grid-area: pic-5;
    width: 386px;
    height: 269px;
}


.container2 img {
    width: 100%;
    height: 100%;
}